
.custom-checkbox {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  
  .custom-checkbox-input {
    display: none;
  }
  
  .custom-checkbox-text {
    padding: 1rem;
    background-color: #aaa;
    color: white;
    cursor: pointer;
    user-select: none;
  }
  
  .custom-checkbox-input:checked ~ .custom-checkbox-text {
    background-color: blue;
    color: white;
  }
  